extends layout

block content
  header
  h3 NTU Maps
  ul
    li
      a(href='/login') Login
    li
      a(href='/signup') Sign Up
  hr
  .container.inner
    .row
      .col-md-9#map
      .col-md-3
        .row
            input#start.form-control(type='text', placeholder='From', value='lee wee nam')
            input#end.form-control(type='text', placeholder='To', value='hall 1')
            button.btn.btn-default(type='submit', id='submit-button') Save
        .row#directionsPanel
  script(src='./javascripts/admin-main.js')        
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBXF2iN40EkjVkCotcVJnP7mMQxTzZgAvI&callback=initialize')

          
