extends layout

block content
  .container
  .row#query-row
    a(href='/') Back to Home
    h1 Select saved path
    |         From:
    select(name='start')
      option(value='lee wee nam') Lee Wee Nam
      option(value='Canteen 2') Can 2
    |         To:
    select(name='end')
      option(value='hive') Hive
      option(value='Canteen 2') Can 2
    input#get-saved-path.btn.btn-default(type='submit', value='Submit')
    form(action='/logout', autocomplete='off', method='GET')
      input#logout.btn.btn-default(value='Logout', type='submit')
    input#delete.btn.btn-default(value='Delete Account')
  #map.row
    
  #profile.row
    fieldset(disabled='')
      .form-group
        label(for='disabledTextInput') Username
        input#disabledTextInput.form-control(type='text', value='dhea')
      .form-group
        label(for='disabledTextInput') Password
        input#disabledTextInput.form-control(type='password', value='password')
    .form-group
      label.col-sm-2.control-label(for='inputPassword') Email
      input#inputEmail.form-control(type='text', placeholder='Email', name='email')
    input#update.btn.btn-default(type='submit', value='Update profile')

    
  script(src='/javascripts/dashboard-main.js')        
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBXF2iN40EkjVkCotcVJnP7mMQxTzZgAvI&callback=initMap')
