extends layout

block content
  header
    h3 NTU Maps
    ul
      li
        a(href='/login') Login
      li
        a(href='/signup') Sign Up
    hr
    
  .container.inner
    .row
      .col-md-9#map
      .col-md-3
        .row
          h1 Select path
          |         From:
          select(name='start')
            option(value='lee wee nam') Lee Wee Nam
            option(value='Canteen 2') Can 2
          |         To:
          select(name='end')
            option(value='hive') Hive
            option(value='Canteen 2') Can 2
          button#get-saved-path.btn.btn-default Submit
          button#save.btn.btn-default Save
        .row#directionsPanel

  script(src='./javascripts/main.js')        
  script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBXF2iN40EkjVkCotcVJnP7mMQxTzZgAvI&callback=initMap')

          
